<?xml version="1.0" encoding="utf-8"?>
<!--
  결과 이미지를 다른 앱으로 넘기려면 content:// URI 가 있어야 한다.
  안드로이드 7 부터 file:// 로 파일을 건네면 FileUriExposedException 으로 죽는다.

  유니티 6 부터 Plugins/Android/res 가 막혀서, 리소스를 쓰려면 이렇게
  Android 라이브러리(.androidlib) 안에 두어야 한다.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ijcompany.chalkmaze.share">
  <application>
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true"
        tools:replace="android:authorities"
        xmlns:tools="http://schemas.android.com/tools">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/cm_file_paths" />
    </provider>
  </application>
</manifest>
